.footParent {
  display: flex;
  flex-direction: row;
  background-color: grey;
}
.footParent .lilInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-left: 50px;
}
.footParent .anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footParent .FootMain {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.footParent .FootMain #h1 {
  width: 100%;
  margin-left: 300px;
}
.footParent .FootMain .upper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footParent .FootMain .upper .left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footParent .FootMain .upper .left #git {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footParent .FootMain .upper .left #git a {
  text-decoration: none;
  transition: 0.3s;
  width: 90px;
  color: black;
}
.footParent .FootMain .upper .left #num {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footParent .FootMain .upper .left #num p {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.footParent .FootMain .upper .right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footParent .FootMain .upper .right #mail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footParent .FootMain .upper .right #mail p {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.footParent .FootMain .upper .right #soc1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footParent .FootMain .upper .right #soc1 a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
  width: 145px;
}
.footParent .FootMain .upper .right #soc2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footParent .FootMain .upper .right #soc2 a {
  text-decoration: none;
  transition: 0.3s;
}
.footParent .FootMain .upper .right #work {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footParent .FootMain .upper .right #work p {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 1080px) {
  .lilInfo {
    display: none !important;
  }
  .footParent {
    justify-content: center;
  }
  .footParent .left {
    width: 40%;
  }
  .footParent .right {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .footParent .right #soc1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footParent .right #soc1 a {
    text-decoration: none;
    transition: 0.3s;
  }
  .footParent .right #soc2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footParent .right #soc2 a {
    text-decoration: none;
    transition: 0.3s;
  }
  .footParent .right #work {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footParent .right #work p {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }
  main {
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 410px) {
  .upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .upper .left {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .upper .left #git {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .upper .left #git a {
    text-decoration: none;
    transition: 0.3s;
  }
  .upper .left #num {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .upper .left #num p {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .upper .right {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .upper .right #mail {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .upper .right #mail p {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .upper .right #soc1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .upper .right #soc1 a {
    text-decoration: none;
    transition: 0.3s;
  }
  .upper .right #soc2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .upper .right #soc2 a {
    text-decoration: none;
    transition: 0.3s;
  }
  .upper .right #work {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .upper .right #work p {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }
}/*# sourceMappingURL=footer.css.map */