////                      GLOBAL CSS
    
    $main : #FFFFFF;
    $primary : #14B8A6;
    $secondary : #3B82F6;
    $text : #2C2C2C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 120vh;
}
.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: auto;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap:100px;
}